NHL_DW_SQL_SERVER=localhost
NHL_DW_DATABASE=NHLDataWarehouse
NHL_DW_ODBC_DRIVER=ODBC Driver 18 for SQL Server
NHL_DW_TRUSTED_CONNECTION=yes
NHL_DW_TRUST_SERVER_CERTIFICATE=yes
NHL_TEAMS_ENDPOINT=https://api.nhle.com/stats/rest/en/team

# Optional: use this instead of the individual SQL Server settings above.
# NHL_DW_CONNECTION_STRING=DRIVER={ODBC Driver 18 for SQL Server};SERVER=localhost;DATABASE=NHLDataWarehouse;Trusted_Connection=yes;TrustServerCertificate=yes;
